
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  background-color: #535353;
  color: #FFF;
}

.menu{
  display:flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
}